

/* if the viewport is equal to 340px or less than that */ 


 @media only screen and (max-width: 380px) {

/* start main area */ 

    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .contact-me-area .subscribe .subscribe-title,
    .site-main .contact-me-area .subscribe .subscribe-title p,
    .site-main .contact-me-area .subscribe
    {

        padding: 2%;
        margin: 0%;


    }

    .site-main .site-banner .site-title h3{
        font-size: 28px;
        line-height: 38px;
        padding-top: 10%;
  
        
    }

    .site-main .site-banner .site-title .intro-title {
        font-size: 20px;
        line-height: 38px;
        padding-bottom: 5px;
        
    
    }
/* end main area */ 


/* start about area */ 

    .site-main .about-area {
        padding: 4%;
        margin: 0%;
    }

    .site-main .about-area .about-title {
        padding-top: 4%;
    }

    .site-main .about-area .about-title h2 span{
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 5px;
    }
/* end about area */ 

/* start experience area */ 
    .site-main .experience-area {
        padding: 4%;
        margin: 0%;

    }


    .site-main .experience-area .first-row .col-lg-4 > .single-brand > img {
        width: 35%;
    }

    .site-main .experience-area .experience-description {
        padding-left: 0;
    }
    .site-main .experience-area .experience-description .bg-panel {
        margin-left: 170px;
    }

    .title-h1 {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .site-main .project-area .button-group button   {
        padding-left: 0;
        display: inline-block; 
        line-height: 30px;
       
    }
    .site-main .project-area .button-group button + button  {
        padding-left: 0;
        display: inline-block; 
        line-height: 30px;
       
    }

/* end experience area */ 

/* start courses area */ 

.site-main .courses-area {
    padding: 4%;
    margin: 0%;
}

.text-center {
    
    line-height: 5%;
}

/* end courses area */ 

/* start contact area */ 

.site-main .contact-me-area {
    padding: 4%;
    margin: 0%;
}


/* end contact area */ 

} 

/* if the viewport is equal to 780px or less than that */ 

@media only screen and (max-width: 780px) {

    /* start main area */ 
    
        .header_area .main-menu .navbar,
        .header_area .main-menu .navbar .navbar-brand,
        .site-main .contact-me-area .subscribe .subscribe-title,
        .site-main .contact-me-area .subscribe .subscribe-title p,
        .site-main .contact-me-area .subscribe
        {
    
            padding: 2%;
            margin: 0%;
    
    
        }
    
        .site-main .site-banner .site-title h3{
            font-size: 28px;
            line-height: 38px;
            padding-top: 10%;
      
            
        }
    
        .site-main .site-banner .site-title .intro-title {
            font-size: 20px;
            line-height: 38px;
            padding-bottom: 5px;
            
        
        }
    /* end main area */ 
    
    
    /* start about area */ 
    
        .site-main .about-area {
            padding: 4%;
            margin: 0%;
        }
    
        .site-main .about-area .about-title {
            padding-top: 4%;
        }
    
        .site-main .about-area .about-title h2 span{
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 5px;
        }
    /* end about area */ 
    
    /* start experience area */ 
        .site-main .experience-area {
            padding: 4%;
            margin: 0%;
    
        }
    
    
        .site-main .experience-area .first-row .col-lg-4 > .single-brand > img {
            width: 35%;
        }
    
        .site-main .experience-area .experience-description {
            padding-left: 0;
        }
        .site-main .experience-area .experience-description .bg-panel {
            margin-left: 265px;
        }
    
        .title-h1 {
            padding-top: 10%;
            padding-bottom: 5%;
        }
    
        .site-main .project-area .button-group button   {
            padding-left: 0;
            display: inline-block; 
            line-height: 30px;
           
        }
        .site-main .project-area .button-group button + button  {
            padding-left: 0;
            display: inline-block; 
            line-height: 30px;
           
        }
    
    /* end experience area */ 
    
    /* start courses area */ 
    
    .site-main .courses-area {
        padding: 4%;
        margin: 0%;
    }
    
    .text-center {
        
        line-height: 5%;
    }
    
    /* end courses area */ 
    
    /* start contact area */ 
    
    .site-main .contact-me-area {
        padding: 4%;
        margin: 0%;
    }
    
    
    /* end contact area */ 
    
    } 

/* if the viewport is equal to 1200px or less than that */ 

    @media only screen and (max-width: 1400px) {

        /* start main area */ 
        
            .header_area .main-menu .navbar,
            .header_area .main-menu .navbar .navbar-brand,
            .site-main .contact-me-area .subscribe .subscribe-title,
            .site-main .contact-me-area .subscribe .subscribe-title p,
            .site-main .contact-me-area .subscribe
            {
        
                padding: 2%;
                margin: 0%;
        
        
            }
        
            .site-main .site-banner .site-title h3{
                font-size: 28px;
                line-height: 38px;
                padding-top: 10%;
          
                
            }
        
            .site-main .site-banner .site-title .intro-title {
                font-size: 20px;
                line-height: 38px;
                padding-bottom: 5px;
                
            
            }
        /* end main area */ 
        
        
        /* start about area */ 
        
            .site-main .about-area {
                padding: 4%;
                margin: 0%;
            }
        
            .site-main .about-area .about-title {
                padding-top: 4%;
            }
        
            .site-main .about-area .about-title h2 span{
                font-size: 24px;
                line-height: 38px;
                letter-spacing: 5px;
            }
        /* end about area */ 
        
        /* start experience area */ 
            .site-main .experience-area {
                padding: 4%;
                margin: 0%;
        
            }
        
        
            .site-main .experience-area .first-row .col-lg-4 > .single-brand > img {
                width: 35%;
            }
        
            .site-main .experience-area .experience-description {
                padding-left: 0;
            }
            .site-main .experience-area .experience-description .bg-panel {
                margin-left: 265px;
            }
        
            .title-h1 {
                padding-top: 10%;
                padding-bottom: 5%;
            }
        
            .site-main .project-area .button-group button   {
                padding-left: 0;
                display: inline-block; 
                line-height: 30px;
               
            }
            .site-main .project-area .button-group button + button  {
                padding-left: 0;
                display: inline-block; 
                line-height: 30px;
               
            }
        
        /* end experience area */ 
        
        /* start courses area */ 
        
        .site-main .courses-area {
            padding: 4%;
            margin: 0%;
        }
        
        .text-center {
            
            line-height: 5%;
        }
        
        /* end courses area */ 
        
        /* start contact area */ 
        
        .site-main .contact-me-area {
            padding: 4%;
            margin: 0%;
        }
        
        
        /* end contact area */ 
        
        } 
    